<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Sucursales</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Lista de Sucursales</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>País</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="sucursal : ${sucursales}">
            <td th:text="${sucursal.pk_SucursalID}"></td>
            <td th:text="${sucursal.nomSucursal}"></td>
            <td th:text="${sucursal.paisSucursal}"></td>
            <td th:text="${sucursal.tipoSucursal}"></td>
            <td>

                <a th:href="@{'/sucursal/update/' + ${sucursal.pk_SucursalID}}">Actualizar</a>
                <a th:href="@{'/sucursal/delete/' + ${sucursal.pk_SucursalID}}" onclick="return confirm('¿Estás seguro?')">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/sucursal/add" class="btn btn-primary">Agregar Sucursal</a>
</div>
</body>
</html>